<div class="col-xs-5" id="divTable">
    <table>
        <tr *ngFor="let row of [].constructor(table.height); let idHeight=index;">
            <td *ngFor="let cell of [].constructor(table.width); let idWidth=index;"
                class="empty-cell"
                id="td{{idHeight}}{{idWidth}}"
                (click)="toggleSelectCell(idHeight, idWidth, $event)">
            </td>
        </tr>
    </table>
</div>

<button class="btn btn-primary" (click)="mergeCells()">Merge selected cells</button>
<button class="btn btn-primary">Split selected cells</button>
<button class="btn btn-primary">Generate code</button>
